extends layout

block content
	h1 Lägg till ingredient
	h4 Sök livsmedel på följande sida: 
		a(href="http://www7.slv.se/Naringssok/", target="_blank") http://www7.slv.se/Naringssok/

	div.col-md-12
		form(action="/ingredient/add", method="post", role="form")
			fieldset
				div.form-group
					label(for="name") Namn på ingredient
					input.form-control(type="text", placeholder="Ingredientnamn", name="name")

				div.form-group
					label(for="weight") Vikt (i gram)
					input.form-control(type="text", placeholder="Vikt", name="weight")

				div.form-group
					label(for="calories") Kalorier (kcal)
					input.form-control(type="text", placeholder="Kalorier", name="calories")

				div.form-group
					label(for="protein") Protein (i gram)
					input.form-control(type="text", placeholder="Protein", name="protein")

				div.form-group
					label(for="fat") Fett (i gram)
					input.form-control(type="text", placeholder="Fett", name="fat")
					
				div.form-group
					label(for="carbohydrates") Kolhydrater (i gram)
					input.form-control(type="text", placeholder="Kolhydrater", name="carbohydrates")

				div.form-group
					label(for="type") Typ av ingrediens
					select.form-control(name="type")
						each type in types
							option(value=type["id"])
								= type["name"]

			button.btn(type="submit") Lägg till
			button.btn(type="reset") Nollställ formulär