doctype html
html(lang="en")
	head
		title='Mealz - '+ title
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			div.container
				div.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target=".navbar-collapse")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") Mealz
				div.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href="/") Måltider
						li
							a(href="/ingredients") Ingredienser

					if cookies.user_username
						div.navbar-right.user_menu
							div.btn-group
								button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown") Meny 
									span.caret
								ul.dropdown-menu(role="menu")
									li
										a(href="/ingredient/form") Lägg till ingrediens
									li
										a(href="/meal/form") Lägg till måltid
									li
										a(href="/logout")  Logga ut
					else
						form.navbar-form.navbar-right(action="/login", method="post", role="form")
							div.form-group
								input.form-control(type="text", placeholder="Username", name="username")
							div.form-group
								input.form-control(type="password", placeholder="Password", name="password")
							button.btn(type="submit") Sign in

					if cookies.user_admin == 1
						div.navbar-right.admin_menu
							div.btn-group
								button.btn.btn-danger.dropdown-toggle(type="button", data-toggle="dropdown") Adminmeny 
									span.caret
								ul.dropdown-menu(role="menu")
									li
										a(href="/admin/add/user") Lägg till användare

		div.container
			block content
		script(src="http://code.jquery.com/jquery-1.10.1.min.js")
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
		script(src="/js/scripts.js")