extends layout

block content
	h1
		= meal.name

	div.row.ingredient_title
		div.col-md-2 Ingrediensnamn
		div.col-md-2 Vikt (g)
		div.col-md-2 Kalorier (kcal)
		div.col-md-2 Protein (g)
		div.col-md-2 Fett (g)
		div.col-md-2 Kolhydrater (g)

	div.row.ingredient
		each ingredient in ingredients
			div.col-md-2
				= ingredient[0]
			div.col-md-2
				= ingredient[1]
			div.col-md-2
				= ingredient[2]
			div.col-md-2
				= ingredient[3]
			div.col-md-2
				= ingredient[4]
			div.col-md-2
				= ingredient[5]

	div.row.ingredient_title
		div.col-md-2 Totalt
		div.col-md-2
			= totals[0]
		div.col-md-2
			= totals[1]
		div.col-md-2
			= totals[2]
		div.col-md-2
			= totals[3]
		div.col-md-2
			= totals[4]
		div.col-md-2
			= totals[5]
