extends layout

block content
	h1 Måltider

	div.row.ingredient_title
		div.col-md-3 Namn
		div.col-md-3 Beskrivning
		div.col-md-3 Tillagd av
		div.col-md-3 Vikt (g)

	each meal in meals
		div.row.ingredient(id=meal["id"], style="background-color: rgb("+ meal["r"] +", "+ meal["g"] +", "+ meal["b"] +")")
			div.col-md-3
				= meal["name"]
			div.col-md-3
				= meal["description"]
			div.col-md-3
				a(href="/user/show/"+ meal["fk_meal_user"].id +"")
					= meal["fk_meal_user"].name
			div.col-md-2
				input(type='number', class='weight', value="0", class="form-control")
			div.col-md-1
				//a(href="/meal/show/"+ meal["id"] +"") Gå till
				span.expand_meal Visa
			div.meal_ingredients