body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.ingredient_title {
	font-size: 20px;
	padding-top: 20px;
	border-bottom: 1px solid #000;
}

.ingredient {
	line-height: 35px;
	border-bottom: 1px solid #000;
	padding-bottom: 5px;
	padding-top: 5px;
}

.user_menu {
	color: #fff;
	margin-top: 17px;
}

.admin_menu {
	color: #fff;
	margin-top: 17px;
	padding-right: 20px;
}

.test {border: 1px solid #000;}

#add_ingredient {
	margin-bottom: 20px;
	font-size: 20px;
}

#add_ingredient:hover {
	/*border-bottom: 1px solid #000;*/
	cursor: pointer;
}

button {margin-right: 10px;}

.expand_meal {
	cursor: pointer;
	color: #04A4E3;
}

.meal_ingredients { line-height: 20px;}